.attribution {
    position: fixed;
    padding: 1rem;
    text-align: center;  
    font-size: .750em;
    width: 100%;
    bottom: 0;

        
   

    .attribution a {
        color: hsl(228, 45%, 44%);
    }
}