.attribution {
    position: fixed;
    padding: 1rem;
    text-align: center;  
    font-size: .750em;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: center;
    @include themed(){
        background-color: t('main-pg');
        color: t('attribution-text');
    }
        
   

    .attribution a {
        color: hsl(228, 45%, 44%);
    }
}