form {
    .input-wrapper {
        width: 100%;
        margin: auto;
        padding: 2rem;
        display: flex;
        align-items: center;
       
        @include themed() {
            background-color: t('input-bg');
        }
        input {
            
            @include themed() {
                background-color: t('input-bg');
            }

            @include tablet {
                
            }
            @include desktop {
                
            }
        }
    }
}
    