form {
    .input-wrapper {
        margin: 2rem 0;
        input {
            width: 32.7rem;
            height: 4.8rem;
            border-radius: 0.5rem;

            @include tablet {
                width: 50rem;
                height: 5.6rem;
            }
            @include desktop {
                width: 54rem;
                height: 6.4rem;
            }
        }
    }
}
    