@import '../abstracts/themes';

.header-container {
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: baseline;


    .title {
        text-transform: uppercase;
        letter-spacing: 1.5rem;
        font-size: 40px;
        font-weight: $weight-bold; 
        @include themed() {
            color: t('header-text');
        }
    }

    .btn-toggle {
        background-color: transparent;
        border: none;
        width: 2.5rem;
        height: 2.5rem;
    }
    

}