.header {
    min-height: 20rem;
    background-image: $header-bg-image-mobile-light;
    background-size: 100%;
    background-position: center;
    color: #fff;
    @include flex (row, space-between, center);
    
    &-title {
        letter-spacing: 1.5rem;
    }

    

}