.todo-list-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 54rem;
    margin-top: 2.5rem;
    border-radius: .5rem;
    min-height: 30rem;
    @include themed() {
        background: t('todolist-bg');
        box-shadow: t('shadow');
    }
   

    .todo-list {
        @include themed() {
            background-color: t('todolist-bg');
            color: t('todolist-text');
        }
        .todo {
            .view-form {
                
            }
        }
        
    }

    .bottom-navbar {
        

        .desktop-size {
            @include mobile {
                display: none;
                visibility: hidden;
            }

            @include tablet {
                display: none;
                visibility: hidden;
            }

           
        }
    }


}

.mobile-size {
   

    @include desktop {
        display: none;
        visibility: hidden;
    }
}

