.todo-list-wrapper {
    
    width: 90%;
    height: 37rem;
   

    .todo-list {
        @include themed() {
            background-color: t('todolist-bg');
            color: t('todolist-text');
        }
        .todo {
            .view-form {
                
            }
        }
        
    }

    .bottom-navbar {
        

        .desktop-size {
            @include mobile {
                display: none;
                visibility: hidden;
            }

            @include tablet {
                display: none;
                visibility: hidden;
            }

           
        }
    }


}

.mobile-size {
   

    @include desktop {
        display: none;
        visibility: hidden;
    }
}

