// Colors
//Primary
$bright-blue: hsl(220, 98%, 61%);
$check-bg: linear-gradient (2deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));

// Light Theme
$very-light-gray: hsl(0, 0%, 98%);
$very-light-grayish-blue: hsl(236, 33%, 92%);
$light-grayish-blue-lth: hsl(233, 11%, 84%);
$dark-grayish-blue-lth: hsl(236, 9%, 61%);
$very-dk-grayish-blue-lth: hsl(235, 19%, 35%);

// Dark Theme 
$very-dk-blue: hsl(235, 21%, 11%);
$very-dk-desat-blue: hsl(235, 24%, 19%);
$light-grayish-blue-dth: hsl(234, 39%, 85%);
$light-grayish-blue-hover: hsl(236, 33%, 92%);
$dark-grayish-blue-dth: hsl(234, 11%, 52%);
$very-dk-grayish-blue-dth-1: hsl(233, 14%, 35%);
$very-dk-grayish-blue-dth-2: hsl(237, 14%, 26%);

// Typography
$body-font-family: 'Josefin Sans', sans-serif;
$weight-bold: 700;
$weight-regular: 400;
