
/* RESETS */
*,
*::before,
*::after {
    box-sizing: border-box;
    outline: 1px solid black;
}

html {
    font: 62.5% / 1.15 sans-serif;
    margin: 0;
}

h1, 
h2 {
    margin-bottom: 0;
}

ul {
    list-style: none;
    padding: 0;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

button,
input {
    overflow: visible;
}

input[type="text"] {
    border-radius: 0;
}

body {
    width: 100%;
    //max-width: 68rem;
    margin: 0 auto;
}

/* Added Reset */
.container {
    min-height: 100vh;
    width: 100vw;
    padding: 0 2rem;
}

main {
    height: 100vh;
}

.pointer {
    cursor: pointer;
}

/* Global Styles */
.visually-hidden {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap;
    
}

[class*='stack'] > * {
    margin-top: 0;
    margin-bottom: 0;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

/* End Global Styles */ 



