

/* RESETS */
*,
*::before,
*::after {
    box-sizing: border-box;
    outline: 1px solid black;
}

html {
    font: 62.5% / 1.15 sans-serif;
    margin: 0;
}

h1, 
h2 {
    margin-bottom: 0;
}

ul {
    list-style: none;
    padding: 0;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

button,
input {
    overflow: visible;
}

input[type="text"] {
    border-radius: 0;
}

body {
    width: 100%;
    //max-width: 68rem;
    margin: 0 auto;
    font: 1.6rem/1.25 Arial, sans-serif;
    background: $very-light-gray;
    //color: #4d4d4d; 

    @media screen and (min-width: 620px) {
        font-size: 1.9rem;
        line-height: 1.31579;
    }
}

/* Added Reset */
.wrapper {
    position: relative;
    width: 100%;
    padding: 0 2rem;
}

main {
    height: 100vh;
}

.pointer {
    cursor: pointer;
}

/* Global Styles */
.visually-hidden {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap;
    
}

[class*='stack'] > * {
    margin-top: 0;
    margin-bottom: 0;
}

/* End Global Styles */ 


/* Theme */
@media (prefers-color-scheme: light) {
    :root {
        $page-bg: $very-light-gray;
        $bg-header-mobile: $header-bg-image-mobile-light;
        $header-bg-dekstop: $header-bg-image-desktop-light;
        $icon-color-mode: $icon-moon;
        $container-bg-color: white;
        $shadow-color: $light-grayish-blue-lth;
        $line-color: $very-light-grayish-blue;
        $line-border-color: $very-light-grayish-blue;
        $task-name-check-color: $light-grayish-blue-lth;
        $task-name-uncheck-color: $dark-grayish-blue-lth;
        $input-color: $very-dk-grayish-blue-lth;
    }
}


