@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');


body {
    font-family: $body-font-family;
}


h1 {
    font-size: 2.222em;
    font-weight: $weight-bold;
}