/*@mixin flex ($direction, $justifyContent, $alignItems) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justifyContent;
    align-items: $alignItems;
};*/

@mixin mobile {
	@media screen and (max-width: #{$mobile-max-width}) {
		@content;
	}
}

@mixin tablet {
	@media screen and (min-width: #{$tablet-min-width}) and (max-width: #{$tablet-max-width}) {
		@content;
	}
}

@mixin sm-desktop {
	@media screen and (min-width: #{$sm-desktop-min-width}) and (max-width:#{$sm-desktop-max-width}) {
		@content;
	}
}

@mixin desktop {
	@media screen and (min-width: #{$desktop-width}) {
		@content;
	}
} ;
