@mixin flex ($direction, $justifyContent, $alignItems) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justifyContent;
    align-items: $alignItems;
}

@mixin sm-mobile-breakpoint {
    @media screen and (min-width: $bp-mobile-start) and (max-width: $bp-mobile-end) {
        @content;
    }
}

@mixin tablet-breakpoint {
    @media screen and (min-width: $bp-tablet-start) and (max-width: $bp-tablet-end) {
        @content;
    }
}

@mixin notebook-breakpoint {
    @media screen and (min-width: $bp-notebook-start) and (max-width: $bp-notebook-end) {
        @content;
    }
}

@mixin lg-desktop-breakpoint {
    @media screen and (min-width: $bp-lg-screen-start) and (max-width: $bp-lg-screen-end) {
        @content;
    }
}



@mixin xl-desktop-breakpoint {
    @media screen and (min-width: $bp-xl-screen-start) and (max-width: $bp-xl-screen-end) {
        @content;
    }
}

@mixin xxl-desktop-breakpoint {
    @media screen and (min-width: $bp-xxl-screen-start) and (max-width: $bp-xxl-screen-end) {
        @content;
    }
}