@import 'variables';

/* Theme Settings */
$themes: (
    'light': (
        'page-bg': $very-light-gray,
        'bg-header-mobile': $header-bg-image-mobile-light,
        'header-bg-desktop': $header-bg-image-desktop-light,
        'icon-color-mode': $icon-moon,
        'container-bg-color': white,
        'shadow-color': $light-grayish-blue-lth,
        'line-color': $very-light-grayish-blue,
        'line-border-color': $very-light-grayish-blue,
        'task-name-check-color': $light-grayish-blue-lth,
        'task-name-uncheck-color': $dark-grayish-blue-lth,
        'input-color': $very-dk-grayish-blue-lth,
    ), 
    'dark': (
        'page-bg': $very-dk-blue,
        'bg-header-mobile': $header-bg-image-mobile-dark,
        'header-bg-dekstop': $header-bg-image-desktop-dark,
        'icon-color-mode': $icon-sun,
        'container-bg-color': $very-dk-desat-blue,
        'shadow-color': $very-dk-blue,
        'line-color': $very-dk-grayish-blue-dth-1,
        'line-border-color': $very-dk-grayish-blue-dth-2,
        'task-name-check-color': $dark-grayish-blue-dth,
        'task-name-uncheck-color': $light-grayish-blue-dth,
        'input-color': $light-grayish-blue-dth,
    )
);


@mixin apply-theme-color($key, $color) {

    @each $theme-name,
    $theme-color in $themes {
        .#{$theme-name} & {
            #{$key}: map-get(map-get($themes, $theme-name), $color)
        }
    }
};

$theme-list: light dark;

@mixin backgroundImg {
   @each $theme in $theme-list {
        .#{$theme} & {
            background: url('../../images/bg-mobile-'+$theme+'.jpg');
            background-size: 100% auto;
            background-repeat: no-repeat;
        

            @include tablet {
                background: url('../../images/bg-desktop-'+$theme+'.jpg');
                background-size: 100% auto;
                background-repeat: no-repeat;
            }
        }
    }
};
